/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
  --bg-color: #FFFFFF; /* dark: #1e272e */
  --bg-color-beige: #f8f6f1;
  --hover-color: #00000017;
  --nav-hover-color: #ffffff33;
  --card-bg: #00000015;
  --main-color: #337e4c;
  --wheatwhole-color: #52b171;
  --text-color: #282828; /* text light isnt really text light, its text in Light mode */
  --nav-bg: #000000;
  --sub-color: #00000067; /* for sub text */
  --elevated: #e3e3e3; /* for buttons and tags */
  --color-allgood: #40d672;
  --color-warning: #FFD63A;
  --color-error: #F7374F;
  --shadow-lifted: rgba(93, 140, 192, 0.25) 0rem .1875rem .125rem, rgba(93, 140, 192, 0.24) 0rem .4375rem .8125rem -0.1875rem, #00000025 0rem -0.1875rem 0rem inset;
  --shadow-lifted-alt: rgba(93, 140, 192, 0.25) 0rem .1875rem .125rem, rgba(93, 140, 192, 0.24) 0rem .4375rem .8125rem -0.1875rem, #FFFFFF25 0rem -0.1875rem 0rem inset;
  --shadow-main: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0rem 0rem 0rem 2px;
  --shadow-deep: rgba(0, 0, 0, 0.05) 0rem .375rem 2rem 0rem,
    rgba(0, 0, 0, 0.5) 0rem 0rem 0rem .1875rem;
  --navbar-lift: 1rem;
  --navbar-height: 5rem;
  --mobile-navbar-height: 4rem;
  --navbar-highlight: #ffffff;
  --padding: 9px;
  --actions-and-stuff-ahh-transition: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --content-border-radius: 1rem;
  --grid-bg: linear-gradient(to right, rgba(128, 128, 128, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px); 
  --grid-bg-size: 15px 15px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 96vh;
  background-size: cover;
  font-family: Noto Sans Mono Variable,Noto Sans Mono,monospace;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;
  transition: d
}

/* BEGIN RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}


/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  user-select: none;
}

/*
  10. Create a root stacking context
*/
/* END RESET */

body {
  transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  -webkit-transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  -moz-transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  -ms-transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
}

#root, #__next {
  isolation: isolate;
}

.body-text {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 500;
    user-select: var(--text-color);
}

.h1 {
  width: 80%;
  min-width: 12.5rem;
}
p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

a {
  text-decoration-thickness: 5px;
  color: var(--main-color);
}

.giantahhparagraph {
  line-height: 1.4;
  font-size: 19px;
  opacity: 0.5;
}

.bullet-title {
  font-size: 1.125rem;
}

.sub-text {
  opacity: 0.5;
      font-weight: 430;

}

.basket { /* a second body */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  /* background-image: var(--grid-bg); */
  background-color: var(--bg-color-beige);
  background-size: var(--grid-bg-size);
}

 .loaf { /* content of the page */
  position: relative;
  /*border: solid red .3125rem;
  */overflow-y: auto;
  width: 100%;
  height: 100vh;
  margin-bottom: calc(var(--navbar-height) + 20px);
  padding: var(--padding);
} 

  .center-container { /* i added this because it just works idk */
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: safe center !important; /* THIS IS VERY IMPORTANT. IF YOU USE JUSTIFY CONTENT: CENTER, ELEMENTS MAY GO OFF SCREEN. ALWAYS USE SAFE CENTER AND YOUR SANITY WILL THANK YOU. */
    /* border: solid blue .0625rem */
  }

/*
@media only screen and (max-width: 37.5rem) {
  .me {
    width: 100%;
  }
}

@media only screen and (max-height: 18.75rem) {
  .me {
    width: 100%;
  }
}
*/

.divider {
  border-top: var(--sub-color);
  color: var(--sub-color);
  background-color: var(--sub-color);
  border: 1px;
  display: block;
  height: 1px;
  width: 70%;
  margin-top: .9375rem;
  margin-bottom: .9375rem;
}

.tag {
  margin: .125rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: var(--elevated);
  border-radius: .3125rem;
  font-weight: 580;
  font-size: .9rem;
  font-family: "IBM Sans Mono", monospace;
  width: fit-content;
  color: var(--text-color);
  user-select: none;
}

/* 
.tag-container div:nth-of-type(1) {
  background-color: #537D5D;
}

.tag-container div:nth-of-type(2) {
  background-color: #F2C078;
}

.tag-container div:nth-of-type(3) {
  background-color: #3D90D7;
}

.tag-container div:nth-of-type(4) {
  background-color: #D5451B;
}

.tag-container div:nth-of-type(5) {
  background-color: #5588A3;
}

.tag-container div:nth-of-type(6) {
  background-color: #C5172E;
}

.tag-container div:nth-of-type(7) {
  background-color: black;
}

.tag-container div:nth-of-type(8) {
  background-color: #71C0BB;
}
*/



.contact-container {
  font-size: .8125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container > .sub-text {
  text-align: center;
}

/* styles on mobile */

@media only screen and (max-height: 300px) {

 
  .h300::after {
    content: " (scroll)";
  }
}

@media only screen and (max-width: 600px) {
.loaf {
  margin-bottom: calc(var(--mobile-navbar-height) + 30px);
  padding: var(--padding);
}

}


