/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
  --bg-color: #FFFFFF; /* dark: #1e272e */
  --bg-color-beige: #FAF6E9;
  --main-color: #40d672;
  --text-color: #282828; /* text light isnt really text light, its text in Light mode */
  --nav-bg: #101010;
  --sub-color: #00000067; /* for sub text */
  --elevated: #e3e3e3; /* for buttons and tags */
  --color-allgood: #40d672;
  --color-warning: #FFD63A;
  --color-error: #F7374F;
  --shadow-lifted: rgba(93, 140, 192, 0.25) 0px 3px 2px, rgba(93, 140, 192, 0.24) 0px 7px 13px -3px, #00000025 0px -3px 0px inset;
  --shadow-lifted-alt: rgba(93, 140, 192, 0.25) 0px 3px 2px, rgba(93, 140, 192, 0.24) 0px 7px 13px -3px, #FFFFFF25 0px -3px 0px inset;
  --shadow-main: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 3px;
  --shadow-deep: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.5) 0px 0px 0px 3px;
  --tag-green: #537D5D;
  --tag-green-text: #e3e3e3;
  --navbar-lift: 1rem;
  --navbar-height: 5rem;
  --mobile-navbar-height: 5rem;
  --padding: 15px;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 96vh;
    background-size: cover;
    font-family: Noto Sans Mono Variable,Noto Sans Mono,monospace;
    cursor: default;
      -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;
  background-color: var(--bg-color-beige);
  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.123) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.123) 1px, transparent 1px);

}

/* BEGIN RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
/* END RESET */


#root, #__next {
  isolation: isolate;
}

.body-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    user-select: var(--text-color);
}

.h1 {
  width: 80%;
  min-width: 200px;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}
.welcome {
  text-align: center;
  color: var(--main-color);
  user-select: none;
}

.bullet-title {
  font-size: 18px;
}

.bio-text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
}

.sub-text {
  color: var(--sub-color)
}

.content {
  position: absolute;
  overflow-y: auto;
  width: 100%;
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  bottom: calc(var(--navbar-height) + var(--navbar-lift) + var(--padding));
}

.wheatwhole-wrapper {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.me {
  position: relative;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 640px;
  width: 90%;
  height: 70%;
}

/*
@media only screen and (max-width: 600px) {
  .me {
    width: 100%;
  }
}

@media only screen and (max-height: 300px) {
  .me {
    width: 100%;
  }
}
*/

@media only screen and (max-height: 300px) {
  .h300::after {
    content: " (scroll)";
  }
}

.divider {
  border-top: var(--sub-color);
  color: var(--sub-color);
  background-color: var(--sub-color);
  border: 1px;
  display: block;
  height: 1px;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.me > .pfp {
  min-width: 150px;
  min-height: 150px;
  border-radius: 360px;
  overflow: hidden;
  background-image: url(images/pfp.webp);
  background-size:cover;
}

.me > .pfp > img {
  width: 150px;
  height: 150px;
}

.likes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: safe center;
  align-items: center;
  margin-bottom: 20px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-width: 300px;
}

.tag {
  margin: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--elevated);
  border-radius: 5px;
  font-weight: 580;
  font-size: 0.9rem;
  font-family: "IBM Sans Mono", monospace;
  width: fit-content;
  color: white;
  user-select: none;
    z-index: -5;
}

.tag-container div:nth-of-type(1) {
  background-color: #537D5D;
}

.tag-container div:nth-of-type(2) {
  background-color: #F2C078;
}

.tag-container div:nth-of-type(3) {
  background-color: #3D90D7;
}

.tag-container div:nth-of-type(4) {
  background-color: #D5451B;
}

.tag-container div:nth-of-type(5) {
  background-color: #5588A3;
}

.tag-container div:nth-of-type(6) {
  background-color: #C5172E;
}

.tag-container div:nth-of-type(7) {
  background-color: black;
}

.tag-container div:nth-of-type(8) {
  background-color: #71C0BB;
}

.contact-container {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container > .sub-text {
  text-align: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: var(--navbar-height);
  bottom: var(--navbar-lift);
  width: 100vw;
}

.navbar {
  height: 100%;
  width: 96%;
  max-width: 600px;
  border-radius: 1rem;
  z-index: 5;
  background-color: var(--nav-bg);
}