/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-main: #40d672;

  --dark: #1e272e;
  --text-dark: #FFFFFF50;
  --text-opaque-dark: #FFFFFF;

  --light: #FFFFFF;
  --text-light: #1e272e9f; /* text light isnt really text light, its text in Light mode */
  --text-opaque-light: #1e272e;

  --color-allgood: #40d672;
  --color-warning: #FFD63A;
  --color-error: #F7374F;
  --shadow-lifted: rgba(93, 140, 192, 0.25) 0px 3px 2px, rgba(93, 140, 192, 0.24) 0px 7px 13px -3px, #00000025 0px -3px 0px inset;
  --shadow-lifted-alt: rgba(93, 140, 192, 0.25) 0px 3px 2px, rgba(93, 140, 192, 0.24) 0px 7px 13px -3px, #FFFFFF25 0px -3px 0px inset;
  --shadow-main: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 3px;
  --shadow-deep: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.5) 0px 0px 0px 3px;
}

body {
    font-family: "IBM Plex Mono", monospace;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 500;
      background-image: url("images/ship.jpg");
  background-size: cover;
}

p, span {
    color: var(--text-light);
}
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.title {
  text-align: center;
  width: 80%;
  min-width: 200px;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;

}

.wheatwhole-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  background-color: var(--light);
  gap: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-main);
  width: 50%;
  overflow: hidden;
}

.me > .divider {
  border-top: var(--text-light);
  width: 96%;
  display: block;
}

.me > .pfp {
  min-width: 150px;
  min-height: 150px;
  border-radius: 15px;
  overflow: hidden;
}

.me > .pfp > img {
  width: 150px;
}

.likes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: safe center;
  align-items: center;
  margin-bottom: 20px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-width: 300px;
}

.tag {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #DDDDDD90;
  color: var(--text-opaque-light);
  border-radius: 5px;
  font-weight: 500;
  width: fit-content;
}
